.fonteUsuario {
  font-size: 22pt;

  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.fs-16 {
  font-size: 17pt;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.bg {
  background-color: #740641c0;
}

.fa-pencil,.fa-sign-out {
  color: #FBCE4E;
  font-size: 15pt;
}