#imgBg{
  background-image: url(https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.form-group{
  padding: 0.2rem;
}

label{
  padding: 0.3rem;
}

button{
  margin: 1rem;
  padding: 0.5rem 0.90rem;

}

.cancel{
background-color: rgba(243, 151, 200, 0.808);
color: rgb(232, 35, 35);
}

.cadas{
  background-color: rgba(9, 42, 80, 0.876);
  color: rgb(254, 254, 254);
}

.texto{
  background-image:  url(https://c.tenor.com/iYfyXFtvvrIAAAAd/our-universe-galaxy.gif);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 20px;
  font-size: 50px;
  animation: filling 2s ease forwards;
  font-weight: bold;
}
@keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}


.container-fluid{
  background-color: rgba(222, 222, 222, 0.202);
}